@font-face {
  font-family: "OptimaLTPro Roman";
  src: url("https://cdn.prod.website-files.com/64cd0df1806781d956403b26/64cd24eaf41f6e260b3bf170_OptimaLTPro-Roman.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik Regular";
  src: url("https://cdn.prod.website-files.com/64cd0df1806781d956403b26/64cd29bbc20b01e6bc2d1a52_GraphikRegular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik Medium";
  src: url("https://cdn.prod.website-files.com/64cd0df1806781d956403b26/64cd29d921f9ddf44eeb6d84_GraphikMedium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  font-family: Graphik Regular, sans-serif;
}
:root {
  --font-primary: #0a0a3d;
  --light-grey-30: #f3f1ef;
  --gold: #a18a6b;
  --footer-black: #1d1d1d;
}

/* Header Section */
.header {
  z-index: 5;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: #00000059;
  width: 100%;
  height: 144px;
  position: fixed;
}
.header.scrolled {
  height: 84px;
}
.header-main-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 3rem;
  box-sizing: border-box;
}
.header-main-row .contact-btn {
  background-color: #0006;
  border: none;
  outline: 0;
  color: #ffff;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  font-family: OptimaLTPro Roman, sans-serif;
  padding: 0.625rem 1.625rem 0.5rem;
  backdrop-filter: blur(50px);
  border: 1px solid #000;
}
.header-main-row .contact-btn:hover {
  background-color: #000;
  border: 1px solid #ffff;
}
.hedaer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin: 20px auto;
}
.hedaer-nav a {
  text-decoration: none;
  color: #ffffff80;
  font-size: 0.875rem;
  line-height: 1.5em;
}
.hedaer-nav a:hover {
  color: #ffff;
}
/* ---------------------------------------------- */

/* Hero Section */
.hero-main-container {
  height: 100vh;
  position: relative;
}
.hero-main-container .hero-bg {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0%;
}
.hero-main-container .hero-bg video {
  object-fit: cover;
  z-index: -100;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  inset: -100%;
}
.hero-slide-container {
  position: absolute;
  z-index: 5;
}

/* ---------------------------------------------- */

/* overview section */
.overview-slide-content {
  max-width: 49rem;
  padding-bottom: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  position: absolute;
  inset: auto auto 0% 0%;
  z-index: 2;
}
.overview-slide-content h4 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: normal;
  font-family: OptimaLTPro Roman, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
}

.overview-slide-content .overview-content {
  font-family: Graphik Regular, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6em;
  color: #fff;
}

/* Amenities section */

.amenities-vdo-container {
  background-image: url(https://cdn.prod.website-files.com/64cd0df…/6500895…_dorchester-hero-poster.webp);
  background-position: 0 0;
  background-size: cover;
  min-height: 53vw;
  position: relative;
  width: 100%;
}
.amenities-vdo-container video {
  width: 100%;
}

.amenities-slides {
  margin: 30px;
}
.amenities-slides .amenities-card-img {
  height: 30vw;
}
.amenities-slides .splide__slide:nth-child(odd) {
  width: 25vw !important;
}
.amenities-slides .splide__slide:nth-child(even) {
  width: 50vw !important;
}
.amenities-slides .splide__slide img {
  width: 100%;
  object-fit: cover;
  inset: 0%;
  height: 100%;
}
.amenities-card .card-text {
  border-right: 2px solid var(--light-grey-30);
  border-bottom: 2px solid var(--light-grey-30);
  border-left: 2px solid var(--light-grey-30);
  /* min-height: 8rem; */
  padding: 2rem;
}
.amenities-card .card-text h4 {
  margin: 0;
  color: var(--font-primary);
  letter-spacing: normal;
  text-transform: none;
  font-family: OptimaLTPro Roman, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5em;
}
.amenities-slides .splide__track {
  padding-bottom: 30px;
}
/* ----------------------------------------- */

/* residence section */

.residence-slides .residence-card-img img {
  width: 100%;
  object-fit: cover;
  inset: 0%;
  height: 100%;
}

.residence-slides .residence-card-img {
  width: 100%;
  height: 100dvh;
}
.residence_slider .splide__pagination {
  bottom: 7em !important;
}

.residence_slider .splide__pagination__page.is-active {
  background-color: #ffff !important;
}

.residence-card-img {
  position: relative;
  overflow: hidden;
}

.residence-card-img .overlay-shadow {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(180deg, transparent, rgba(20, 20, 20, 1) 100%);
  pointer-events: none;
  z-index: 1;
}

.residence_slider .splide__arrow {
  bottom: 7em !important;
  top: auto !important;
}
.residence_slider .splide__arrow.splide__arrow--prev {
  left: auto;
  right: 12em;
}
.residence_slider .splide__arrow.splide__arrow--next {
  right: 7em;
}

.content-only {
  color: var(--font-primary);
  max-width: 880px;
  letter-spacing: normal;
  text-transform: none;
  font-family: OptimaLTPro Roman, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
}

/* ----------------------------------------- */

/* lifestyle section */

.lifestyle.content-section .content-para {
  letter-spacing: normal;
  text-transform: none;
  font-family: OptimaLTPro Roman, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--font-primary);
  text-align: center;
  max-width: 900px;
  margin: 0;
}

/* ----------------------------------------- */

/* Specification section */

.spec-main-container {
  z-index: 4;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: #00000080;
  width: 100%;
  padding: 1rem 4rem;
  position: fixed;
  inset: auto 0% 0%;
  /* transform: translateY(100%); */
  box-sizing: border-box;
}
.spec-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.spec-grid-container {
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 2rem;
  display: grid;
}
.spec-header .title,
.spec-grid-container .spec-title {
  font-family: Graphik Regular, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6em;
  color: #fff;
}
.spec-content {
  font-family: Graphik Regular, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75em;
  color: #fff;
}
.spec-header button {
  background: 0;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
/* --------------------------------------------------- */

/*Mid content section  */

.content-section {
  /* text-align: center;
  margin: 30px auto; */
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12rem 3rem;
  display: flex;
}
.content-section .content-title {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: Graphik Medium, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75em;
  color: var(--gold);
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
}
.content-section .content-h3 {
  color: var(--font-primary);
  /* width: 738px; */
  /* margin-top: 0;
  margin-bottom: 1.5rem; */
  margin: 0;
  text-transform: uppercase;
  font-family: OptimaLTPro Roman, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 105%;

  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  text-align: center;
  text-wrap: balance;
}
.content-para {
  text-wrap: balance;
}
.content-para {
  color: var(--font-primary);
  text-align: center;
  max-width: 640px;
  margin: 0;

  font-family: Graphik Regular, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75em;
}

/* ---------------------------------------------------- */

/* Enquire Section */

.enquire-outer-container {
  background-color: var(--footer-black);
  padding: 4rem;
}
.enquire-container {
  justify-content: center;
  align-items: center;
  padding: 10rem 1.5rem;
  display: flex;
  position: relative;
}
.enquire-bg {
  filter: saturate(85%) contrast(140%) brightness(80%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}
.enquire-bg video {
  object-fit: cover;
  z-index: -100;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  inset: -100%;
}
.enquire-overlay {
  mix-blend-mode: soft-light;
  background-color: #10103d;
  position: absolute;
  inset: 0%;
}
.enquire-content {
  z-index: 2;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}
.enquire-content h3 {
  text-align: center;
  max-width: 927px;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: OptimaLTPro Roman, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 105%;
}
.enquire-content .enquire-more {
  color: #fff;
  font-family: Graphik Regular, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5em;
}

.enquire-cta {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: space-around;
  margin-top: 2rem;
  display: flex;
}

.enquire-cta a {
  z-index: 3;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  white-space: nowrap;
  background-color: #00000080;
  padding: 0.625rem 6rem 0.5rem;
  font-family: OptimaLTPro Roman, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #fff;
  text-decoration: none;
}
.enquire-cta a svg {
  margin-right: 10px;
}
/* ---------------------------------------------------- */

/* pagination */
.splide__pagination__page {
  width: 80px !important;
  height: 2px !important;
  border-radius: 0 !important;
}
.splide__pagination__page.is-active {
  background-color: #010205 !important;
}
.splide__arrow {
  top: none !important;
  width: max-content !important;
  background: transparent !important;
  opacity: 1 !important;
}
.splide__arrow--prev svg {
  transform: none !important;
}
.splide__arrow--next svg {
  transform: scaleX(-1) !important;
}
.splide__arrow svg {
  width: 27px !important;
}
/* custom arrows */

.custom-arrows {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  display: flex;
  gap: 5px; /* Space between arrows */
}

.custom-arrow {
  background-color: #000; /* Custom background color */
  color: #fff; /* Custom icon color */
  border-radius: 50%;
  width: 40px; /* Custom size */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Footer section */
.footer-container {
  z-index: 3;
  background-color: var(--footer-black);
  position: relative;
  box-sizing: border-box;
}
.footer-header {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  border-style: none none solid;
  border-width: 1px;
  border-color: var(--white) var(--white) #ffffff0d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4.875rem;
  padding-bottom: 4.875rem;
  display: flex;
}

.footer-links {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  border-bottom: 1px solid #ffffff0d;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2.5rem 6rem;
  display: flex;
}

.footer-links-col-container {
  grid-column-gap: 5rem;
  flex: 4 55%;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}
.footer-links-col {
  flex: 1;
}
.footer-links-title {
  text-transform: none;
  margin-bottom: 0.5rem;
  font-family: Graphik Regular, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2em;
  color: #ffffff80;
  margin: 0;
}
.footer-links-list {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  list-style: none;
}

.footer-links-item {
  font-family: Graphik Regular, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2em;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .header-main-row .menu {
    order: 3;
  }
  .header-main-row {
    padding-left: 1.5rem;
    padding-right: 0.5rem;
  }
  .hedaer-nav {
    overflow-x: auto;
    padding: 0 10px;
    gap: 4rem;
    scroll-behavior: smooth;
    align-items: center;
  }
  .header-nav::-webkit-scrollbar {
    display: none;
  }
  .hedaer-nav a:first-child {
    padding-left: 4rem;
  }
  .hero-main-container .hero-bg video {
    inset: 0%;
  }
  .enquire-outer-container,
  .footer-links {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .enquire-cta {
    flex-direction: column;
  }
  .enquire-cta a {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .enquire-content h3 {
    max-width: 100%;
  }
  .footer_logo {
    width: 240px;
  }
  .footer-links-col-container {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    flex-direction: column;
  }
  .content-h3 {
    font-size: 2rem !important;
  }
  .content-section {
    padding: 6rem 1.5rem;
  }
  .residence-highlight-div {
    height: 100% !important;
  }
  .splide__pagination {
    display: none !important;
  }
  .splide__arrows {
    display: none;
  }
  .amenities-slides .splide__slide:nth-child(odd),
  .amenities-slides .splide__slide:nth-child(even) {
    width: 80% !important;
  }
  .amenities-slides .amenities-card-img {
    height: 85vw;
  }
  .amenities-card .card-text h4 {
    font-size: 0.75rem;
    line-height: 1.7em;
  }
  .spec-grid-container {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
  .spec-main-container {
    max-height: calc(100dvh - 128px);
  }
}
